var html = "<div class=\"alert alert-success\"><a class=\"close\" href=\"/ad/index\" href=\"/ad/index\" data-dismiss=\"alert\">×</a><%= escape_javascript flash[:notice] %></div>";
$("#ad_shortcut_area").html(html);
