var html = "<div class=\"alert alert-success\"><a class=\"close\" href=\"/builder/index\" href=\"/builder/index\" data-dismiss=\"alert\">×</a><%=h flash[:notice].gsub(/\s/," ") %></div>";
$("#operate_build_area").html(html);
