
<form class="form-horizontal" accept-charset="UTF-8">
<fieldset>
    <legend>Access_Token查询结果</legend>
    
    <div>
      <div class="alert alert-success">
        <a class="close" href="/app_info/index" href="/app_info/index" data-dismiss="alert">×</a>
        <%=h flash[:notice] %>
      </div>
    </div>
  
</fieldset>
</form>
